extends layout

block content
  h2= "My APIs"
  br
  div.col-xs-6
    p Below are a few API endpoints that are protected by Okta CIS.

    br
    br
              //- href="javascript: handlePublicAPICall(baseAPIUrl, signIn)"
    
    a(href=`${handlePublicAPICall}`)
      button.btn.btn-primary TESTING TESTING

    br
    br
  
    a(href=`${apiurl}`+"api/public")
      button.btn.btn-primary Test Public API
    
    br
    br
    
    a(href=`${apiurl}`+"api/private")
      button.btn.btn-primary Test Private API
    
    br
    br
    
    a(href=`${apiurl}`+"api/access")
      button.btn.btn-primary Test Access API

  
  div.b
  h3 Testing container
    br

    form.navbar-form.navbar-left(method="get", action="/profile")
            button#logout-button.btn.btn-primary(type="submit") Back to the profile page