extends layout

block content
  h2= "My APIs"
  br
  div.col-xs-6
    p Below are a few API endpoints that are protected by Okta CIS.

    br
    br
    
    a(href=`${handlePublicAPICall}`)
    button(class='.btn.btn-primary' onclick=`${handlePublicAPICall}(' ${api_url} ')` value="Click here")

    br
    br
  
    button.btn.btn-primary(onclick=`${handlePublicAPICall}('${api_url}')` value="Click here")
   
    br
    br
  
    a(href=`${apiurl}`+"api/public")
      button.btn.btn-primary Test Public API
    
    br
    br
    
    a(href=`${apiurl}`+"api/private")
      button.btn.btn-primary Test Private API
    
    br
    br
    
    a(href=`${apiurl}`+"api/access")
      button.btn.btn-primary Test Access API
    
    axios.get(`${apiurl}`+"api/access")
      .then(data=>console.log(data))
      .catch(err=>console.log(err))

  br
  br
  br
  br
  br
  div.b
  kbd#name(cont='demo')
    br
    br
    br
  form.navbar-form.navbar-left(method="get", action="/profile")
      button#logout-button.btn.btn-primary(type="submit") Back to the profile page